.header {
    display: grid;
    position: relative;
    width: 100%;
    height: 293px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0;
  }
  .header_menu {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .header__links-list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    width: 392px;
    padding-left: 0px;
    height: 21px;
    margin-left: 9px;
  }
  
  *.header__links-list-item {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: circle;
    text-underline-offset: 4px;
  }
  
  .header__links-list-item_no-bullit {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: none;
    width: 67px;
    height: 21px;
    position: relative;
    padding-left: 4px;
  }
  .header_logo {
    display: flex;
    justify-content: center;
    position: relative;
    width: 148px;
    height: 105px;
  }
  
  .header_logo-image {
    position: absolute;
    background-image: url(../images/logo-black.svg);
    background-size: cover;
    width: 129px;
    height: 104px;
    background-position: center;
  }
  
  .header__address {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 186px;
    width: 235px;
  }
  
  .address {
    position: relative;
    font-style: normal;
    margin: auto;
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-underline-offset: 4px;
    text-align: left;
    min-width: 100%;
    height: 98px;
  }
  
  .cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 100%;
    height: 757px;
    background-position: -137px 1px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
  }
  
  .cover_title {
    position: relative;
    display: block;
    height: 550px;
    font-size: 100px;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
  
  .aligned-text {
    position: relative;
    display: block;
    padding-top: 163px;
    padding-left: 50px;
  }
  
  .aligned-text_center {
    position: relative;
    display: block;
    padding-top: 19px;
    padding-left: 380px;
  }
  
  .aligned-text_right {
    position: relative;
    display: block;
    padding-top: 18px;
    padding-left: 664px;
  }
  
  .cover_description {
    margin-top: 118px;
    margin-left: 50px;
  }
  
  .cover_description_text {
    position: relative;
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: aliceblue;
    width: 100%;
    word-spacing: 19px;
  }
  
  .bet_button {
    position: relative;
    margin-left: 100px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    width: 256px;
    height: 51px;
    margin-top: -21px;
    border-color: #ffffff;
  }
  
  .lots {
    margin-left: 24px;
    position: relative;
    width: 1052px;
    height: 723px;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .lots_heading {
    position: absolute;
    font-family: Raleway;
    font-weight: 47px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-left: 40px;
    weight: 47px;
  }
  
  .lots__card-list {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 334px;
    height: 595px;
    position: relative;
    padding-top: 74px;
  }
  
  .lost__card-list-item {
    position: relative;
    width: 334px;
    height: 596px;
  }
  
  .card-link {
    display: block;
    height: 100%;
    list-style: none;
  }
  
  .card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
  }
  
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    width: 334px;
    height: 596px;
    position: relative;
    background-size: cover;
    background-position-x: -115px;
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    width: 334px;
    height: 596px;
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    width: 334px;
    height: 596px;
  }
  
  .card_title {
    position: relative;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 40px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    color: #ffffff;
    text-underline-offset: 4px;
  }
  
  .card_text {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: flex-end;
    padding-right: 40px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #ffffff;
    height: 470px;
    padding-bottom: 48px;
    text-decoration: none;
  }
  
  .lots__look-more-link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 80px;
    padding-left: 40px;
    text-underline-offset: 4px;
  }
  
  .about {
    position: relative;
    display: grid;
    width: 1052px;
    height: 595px;
    margin-left: 24px;
    margin-top: 120px;
    grid-template-columns: 334px 1fr;
  }
  
  .about__column {
    position: relative;
    display: flex;
    height: 595px;
    width: 100%;
    justify-content: center;
    padding-top: 35px;
  }
  
  .about__logo {
    position: relative;
    display: flex;
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .about__logo-image {
    position: relative;
    width: 148px;
    height: 114px;
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    border: none;
    display: flex;
  }
  
  .about__column2 {
    position: relative;
    display: block;
    padding-top: 140px;
    margin-left: 26px;
  }
  
  .about__title {
    position: relative;
    width: 330px;
    height: 47px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  
  .about__text {
    padding-top: 97px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  
  .footer {
    position: relative;
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
  }
  
  .footer__address {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-left: 51px;
    margin-bottom: 79px;
  }
  
  .footer__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__menu-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
    list-style: none;
  }
  
  .footer__menu-list-item {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
  }
  
  .footer__menu-link {
    position: relative;
    display: flex;
    flex-direction: column;
    text-underline-offset: 3px;
  }
  
  .footer__menu-link_active {
    position: relative;
    text-decoration: none;
  }
  
  .footer__social-list {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 27px;
    gap: 48px;
  }
  
  .footer__social-list-item {
    width: 48px;
    height: 48px;
    position: relative;
    list-style: none;
  }
  
  .footer__social-link {
    position: relative;
    width: 48px;
    height: 48px;
  }
  
  .footer__social-icon_youtube {
    background-image: url(../images/yt.svg);
    width: 48px;
    height: 48px;
    position: relative;
  }
  
  .footer__social-icon_vk {
    background-image: url(../images/vk.svg);
    width: 48px;
    height: 48px;
  }
  
  .footer__social-icon_pinterest {
    position: relative;
    background-image: url(../images/pinterest.svg);
    width: 48px;
    height: 48px;
  }