.header {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 94px 0px;
  }
  .header_menu {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .header_links_list {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    padding-left: 0px;
    margin-left: 9px;
    padding-bottom: 3px;
  }
  
  .header_links_list_item {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    list-style: circle;
    text-underline-offset: 4px;
  }

  .header_links_list_item_no_bullet {
    list-style: none;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-underline-offset: 4px;
  }

  .header_links_list_item_active {
    padding-left: 4px;
    text-decoration: none;
  }
  .header_logo {
    display: flex;
    justify-content: center;
    position: relative;
    width: 148px;
    height: 105px;
  }
  
  .header_logo_image {
    background-image: url(../images/logo-black.svg);
    background-size: cover;
    width: 129px;
    height: 104px;
    background-position: center;
  }
  
  .header_address {
    justify-content: center;
    align-items: center;
    margin-left: 186px;
    width: 235px;
    padding-bottom: 3px;
  }
  
  .contact_adress {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .address {
    position: relative;
    font-style: normal;
    margin: auto;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-underline-offset: 4px;
    text-align: left;
    min-width: 100%;
  }
  
  .cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 100%;
    min-height: 757px;
    background-position: center center;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
  }
  
  .cover_title {
    position: relative;
    display: block;
    font-size: 100px;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }
  
  .cover_align {
    position: relative;
    display: block;
  }
  
  .aligned_text_left {
    padding-top: 163px;
    padding-left: 50px;
  }
  
  .aligned_text_center {
    padding-top: 19px;
    padding-left: 380px;
  }
  
  .aligned_text_right {
    padding-top: 18px;
    padding-left: 664px;
  }
  
  .cover_description {
    position: relative;
    display:grid;
    grid-template-columns: 640px 1fr;
    margin-left: 50px;
  }
  
  .cover_description_text {
    position: relative;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: aliceblue;
    width: 100%;
    word-spacing: 19px;
    padding-top: 118px;
  }
  
  .bet_button {
    position: relative;
    margin-left: 104px;
    margin-top: 105px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    width: 256px;
    height: 51px;
    border-color: #ffffff;
  }
  
  .lots {
    margin-left: 24px;
    position: relative;
    width: 1052px;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .lots_heading {
    position: relative;
    font-family: Raleway, Arial, sans-serif;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    padding-left: 40px;
  }
  
  .lots_card_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    position: relative;
  }
  
  .lost_card_list_item {
    position: relative;
    width: 334px;
  }
  
  .card_link {
    display: block;
    height: 100%;
    list-style: none;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
  }
  
  .card_image {
    width: 334px;
    height: 596px;
  }
  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  }
  
  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
  }
  
  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  }
  
  .card_title {
    position: relative;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 40px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #ffffff;
    text-underline-offset: 4px;
  }
  
  .card_text {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: flex-end;
    padding-right: 40px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    padding-bottom: 46px;
    text-decoration: none;
  }
  
  .lots_look_more_link {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    padding-top: 10px;
    padding-left: 40px;
    text-underline-offset: 4px;
  }
  
  .about {
    position: relative;
    display: grid;
    width: 1052px;
    margin-left: 24px;
    margin-top: 120px;
    grid-template-columns: 334px 1fr;
  }
  
  .about_column {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 35px;
    margin-bottom: 320px;
  }
  
  .about_logo {
    position: relative;
    display: flex;
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  
  .about_logo_image {
    position: relative;
    width: 148px;
    height: 114px;
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    border: none;
    display: flex;
  }
  
  .about_title {
    position: relative;
    width: 330px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    padding-top: 140px;
  }

  .about_text_right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap:23px;
  }

  .about_text {
    padding-top: 104px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 690px;
    text-transform: none;
  }

  .about_column_down {
    position: relative;
    display: block;
    margin-left: 26px;
  }

  .about_text_down {
    padding-top: 0px;
  }
  
  .footer {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 180px;
  }
  
  .footer_address {
    width: 280px;
    margin-left: 51px;
    margin-bottom: 79px;
  }
  
  .footer_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer_menu_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
    list-style: none;
  }
  
  .footer_menu_list_item {
    font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  
  .footer_menu_link {
    position: relative;
    display: flex;
    flex-direction: column;
    text-underline-offset: 3px;
  }
  
  .footer_menu_link_active {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    text-underline-offset: 3px;
  }
  
  .footer_social_list {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 27px;
    gap: 48px;
  }
  
  .footer_social_list_item {
    position: relative;
    list-style: none;
  }
  
  .footer_social_link {
    position: relative;
  }
  
  .footer_icon {
    width: 48px;
    height: 48px;
  }
  .footer_social_icon_youtube {
    background-image: url(../images/yt.svg);
  }
  
  .footer_social_icon_vk {
    background-image: url(../images/vk.svg);
  }
  
  .footer_social_icon_pinterest {
    background-image: url(../images/pinterest.svg);
  }